version: "3.8"

services:
  mongodb:
    image: mongo:6
    container_name: mongo-compose
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: admin123
    volumes:
      - mongo-data:/data/db
    networks:
      - nodevault-network

  backend:
    image: nodevault-backend:1.0
    container_name: backend-compose
    restart: always
    env_file:
      - .env
    ports:
      - "3000:3000"
    depends_on:
      - mongodb
    networks:
      - nodevault-network

volumes:
  mongo-data:

networks:
  nodevault-network:
    driver: bridge
